<div class="user-list-container">

  <h2>Lista de Usuarios</h2>

  <div>
    <button (click)="launchPopup()">Nuevo usuario</button>
  </div>

  <div class="container-button">
    <button class="main-button-icon" (click)="editarUsuario(usuarioSeleccionado!)" [disabled]="!usuarioSeleccionado">
      Editar
    </button>
    <button class="main-button-icon" (click)="eliminarUsuarioSeleccionado()" [disabled]="!usuarioSeleccionado">
      <img class="img-icon" src="assets/images/DeleteIcon.JPG">
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nick</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Género</th>
        <th>Puesto</th>
        <th>Admin</th>
        <th>Dirección Principal</th> 
        <th>Número Direcciones</th>     
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let usuario of usuarios"
          (click)="seleccionarUsuario(usuario)"
          [style.cursor]="'pointer'"
          [style.backgroundColor]="
            usuarioSeleccionado?.id === usuario.id ? '#d3e3fd' : ''
          ">

        <td>{{ usuario?.nickUsuario }}</td>

        <td>{{ usuario?.nombre }}</td>

        <td>
          {{ usuario?.primerApellido }} {{ usuario?.segundoApellido }}
        </td>

            <td>
        <img
            *ngIf="usuario?.generoNombre === 'Hombre'"
            src="assets/images/Male.JPG"
            alt="Hombre"
            class="img-gender"
        />
        <img
            *ngIf="usuario?.generoNombre === 'Mujer'"
            src="assets/images/Female.JPG"
            alt="Mujer"
            class="img-gender"
        />
        <img
            *ngIf="usuario?.generoNombre !== 'Hombre' && usuario?.generoNombre !== 'Mujer'"
            src="assets/images/Other.png"
            alt="Otro"
            class="img-gender"
        />
        </td>

        <td>
          {{ usuario?.puestoDeTrabajoNombre }}
        </td>

        <td>
          <span *ngIf="usuario?.esAdmin">✔</span>
          <span *ngIf="!usuario?.esAdmin">✖</span>
        </td>        

        <td [title]="getDireccionPrincipal(usuario)">
          {{ getDireccionPrincipal(usuario) }}
        </td>        

        <td>{{ getNumDirecciones(usuario) }}</td>

      </tr>
    </tbody>

  </table>

</div>

<!-- POPUP -->
<app-user-popup
  *ngIf="modoPopup !== 'CLOSED'"
  [modo]="modoPopup"
  [usuario]="usuarioSeleccionado || null"
  (cerrarPopUpOk)="onGuardarUsuario($event)"
  (cerrarPopUpCancel)="onCerrarPopUpCancel()">
</app-user-popup>